<div class="container-fluid">
  <div class="main-content">
      <div class="container-fluid">
          <div class="row">
              
                  <div class="card">
                      <div class="card-header card-header-danger">
                          <h5 class="card-title">"PERFIL ANIMAL"</h5>
                      </div>
                  <div class="row" >
                    <div class="col-12">
                      <div class="card">
                        <div class="col-12">
                          <div class="container">
                            <button type="button" class="btn" (click)="irAtras()"style="margin:2em;">
                              <i class="fa fa-reply" aria-hidden="true"></i>
                             Regresar
                            </button>
                            <button type="button" class="btn btn-info" (click)="irFicha()" >
                              <i class="fa fa-plus-square" aria-hidden="true"></i>
                              Nueva Ficha
                            </button>
                            <button type="button" class="btn btn-info" (click)="irVacuna(animal.id)" >
                              <i class="fa fa-plus-square" aria-hidden="true"></i>
                              Agregar Vacuna
                            </button>
                           </div>
                        <div class="card mb-12">
                          <div class="row "  *ngIf="animal">
                            <div class="col-md-4">
                              <img src="{{animal.urlImagenAnimal}}" class="img-fluid" alt="">
                             <hr>
                               
                              <b> COLOR/CARACTERISTICAS: </b> <label
                              class="card-text">{{animal.colorCaracteristicas}}</label>
                              <hr>
    
                                
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">  <div class="row">
                                <div class="col-md-5">
                            
                                  <b> CODIGO: </b> <label
                                  class="card-text">{{animal.id}}</label>
                                  <hr>
                                </div>
                                <div class="col-md-6">
                            
                              <b> NOMBRE: </b> <label
                              class="card-text">{{animal.nombre}}</label>
                            <hr>
                            </div>
                              </div>
                              <div class="row">
                            <div class="col-md-5">

                              <b> RAZA: </b> <label
                              class="card-text">{{animal.raza}}</label>
                          <hr>
                            </div>
                       
                         
                            <div class="col-md-6">
                        
                              <b> ESPECIE: </b> <label
                              class="card-text">{{animal.especie}}</label>
                              <hr>
                            </div>
                              </div>
                              <div class="row">
                            <div class="col-md-5">
                              <b> LUGAR ESTANCIA: </b> <label
                              class="card-text">{{animal.lugarEstancia}}</label>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <b> PROCEDENCIA: </b> <label
                              class="card-text">{{animal.procedencia}}</label>
                              <hr>
                            </div>
                          
                              </div>
                              <div class="row">
                            <div class="col-md-3">
                              <b> PESO: </b> <label
                              class="card-text">{{animal.peso}} Klg.</label>
                              <hr>
                            </div>

                            <div class="col-md-3">

                            <b> EDAD: </b> <label
                            class="card-text">{{animal.edad}}</label>
                            <hr>
                            </div>
                            <div class="col-md-3">
                              <b> SEXO: </b> <label
                              class="card-text">{{animal.sexo}}</label>
                              <hr>
                            </div>
                          </div>




                                <div class="row">
                                  <div class="col-md-8">
                                    <b> OBSERVACIONES/PROCEDENCIA: </b> <label
                                    class="card-text">{{animal.observacionesProcedencia}}</label>
                                   
                                  </div>
                               
                                </div>
                            </div>  </div>
                            </div>
                          
                        <br>

                 
                              <div class="container" >
                                <mat-tab-group mat-align-tabs="center">
                                  <mat-tab label="Fichas Clinicas"> 
                                    <div class="card">
                                    
    
                                      <table class="table">
                                        
                                        <thead>
                                         
                                            
                                            <th >N° HISTORIA</th>
                                            <th >FECHA INGRESO</th>
                                            <th >ACCIONES</th>
                                         
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let ficha of fichaClinica">
                                          
                                            <td>{{ficha.id}}</td>
                                            <td>{{ficha.fechaIngreso}}</td>
                                            <td>
                                              
                                              
                                             
                                                <div class="btn-group">
                                                    <div>
                                                        <button mat-raised-button type="submit"
                                                             class="btneditar btn-info btn-round"
                                                            (click)="irEditarFicha(ficha.id)">
                                                          Ver/Editar
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <button mat-raised-button type="submit"
                                                            class="btneliminar btn-danger btn-round" 
                                                            (click)="borrarFicha(ficha.id)">
                                                            <i class="material-icons">delete</i>
                                                        </button>
                                                    </div>
                                                </div>
                                        
                                            
                                            
                                            </td>
                                          </tr>
                                         
                                        
                                        </tbody>
                                      </table>
                                    </div>
              </mat-tab>

            
                                  <mat-tab label="Vacunas"> 
                                   
                                      <div class="card">
                                    <table class="table">
                                   
                                     <thead>
                                        
                                        <th >N° VACUNA</th>
                                        <th >NOMBRE</th>
                                        <th >FECHA APLICACION</th>
                                        <th >FECHA PROXIMA</th>
                                        <th >TIPO</th>
                                        <th >ACCIONES</th>
                                     
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let carnet of carnetVacuna">
  
                                        <td>{{carnet.id}}</td>
                                        <td>{{carnet.vacuna.nombre}}</td>
                                      <td>{{carnet.fechaAplicacion}}</td>
                                        <td>{{carnet.fechaProximaAplicacion}}</td>
                                        <td>{{carnet.vacuna.tipo}}</td>
                                       
                                        <td><div>
                                          <div class="btn-group">
                                              <div>
                                                  <button mat-raised-button type="submit"
                                                       class="btneditar btn-info btn-round"
                                                      (click)="irEditarCarnet(carnet.id)">
                                                      Ver/Editar
                                                  </button>
                                              </div>
                                              <div>
                                                  <button mat-raised-button type="submit"
                                                      class="btneliiminar btn-danger btn-round" 
                                                      (click)="borrarVacuna(carnet.id)">
                                                      <i class="material-icons">delete</i>
                                                  </button>
                                              </div>
                                          </div>
                                      </div></td>
                                      </tr>
                                     
                                    
                                    </tbody>
                                  </table>
                                
                                      </div>
                           </mat-tab>
                                 
                                </mat-tab-group>
                                
                                
                                  
                     
                    </div>
                      </div></div>
                    </div>

                              
          </div>
                  </div></div>
                  </div></div>
                  </div></div>
      
      

