<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">MEDICACIÓN</h4>
                      <p class="card-category">Complete el formulario</p>
                  </div>
                  <div class="card-body">
          
                      <form>

                          <div class="container">

                              <div class="row">

                                  <!--Medicamento-->
                                  <div class="col-md-3">
                                  
                                      <div class="col-md-5">
                                          <label>MEDICAMENTO</label>
                                          <div class="caja">
                                              <select class="form-select" aria-label="Default select example">
                                                  <option selected disabled>Seleccione:</option>
                                                  <option value="INICIO">Paracetamol</option>
                                              </select>
                                          </div>
                                      </div>
                                  </div>
                              </div> <!--Fin row medicamento-->


                            <div class="row">

                              <!--Descripción-->
                              <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder="Descripción" type="text"></textarea>
                                  </mat-form-field>
                              </div>

                              <!--dosis-->
                              <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder="Dosis" type="text"></textarea>
                                  </mat-form-field>
                              </div>

                              <!--frecuencia-->
                              <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder="Frecuencia" type="text"></textarea>
                                  </mat-form-field>
                              </div>

                              <!--frecuencia-->
                              <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder="Duración" type="text"></textarea>
                                  </mat-form-field>
                              </div>
  
                              <!-- Fecha Apllicacion -->
                              <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Fecha de Caducidad" type="date">
                                  </mat-form-field>
                              </div>

                            </div>
                          </div> 

                                 
                              <div class="row">
                              
                                      <div class="col-md-5">
                                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">CANCELAR</button>
                                          
                                      </div>
                                      <div class="col-md-5">
                                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">AGREGAR</button>
  
                                      </div>
                                  
                              </div> <!--fin row botones tratamiento-->
                         
                      </form>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
     