<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">REGISTRO DE VETERINARIOS</h4>

                </div>
                <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="createVeterinarios()" novalidate>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="CEDULA" [(ngModel)]="veterinarios.persona.cedula">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="CARGO" [(ngModel)]="veterinarios.cargo">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="NOMBRE" [(ngModel)]="veterinarios.persona.nombre">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="APELLIDO" [(ngModel)]="veterinarios.persona.apellidos">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="EMAIL ADDRESS" type="email"
                                        [(ngModel)]="veterinarios.persona.correo">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="TELEFONO" type="text"
                                        [(ngModel)]="veterinarios.persona.telefono">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="CELULAR" type="text"
                                        [(ngModel)]="veterinarios.persona.celular">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="DIRECCION" type="text"
                                        [(ngModel)]="veterinarios.persona.direccion">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                    (click)="createVeterinarios()">REGISTRAR</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>