
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de citas </h4>
                        <p class="card-category"> CITAS
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        FECHA 
                                    </th>
                                    <th>
                                        CLIENTE
                                    </th>
                                    <th>
                                        MOTIVO_CITA
                                    </th>
                                    <th>
                                        ESTADO_CITA
                                    </th>
                                   
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cita of citas">
                                        <td>
                                            {{cita.fechaCita}}  
                                        </td>
                                        <td>
                                            {{cita.nombreCliente}}
                                        </td>
                                        <td>
                                           {{cita.motivo}}
                                        </td>
                                        <td>
                                           {{cita.estado}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  