<div class="main-content" id="tabla">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de citas </h4>
                        <p class="card-category"> CITAS
                        </p>
                    </div>
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        FECHA
                                    </th>
                                    <th>
                                        CLIENTE
                                    </th>
                                    <th>
                                        MOTIVO_CITA
                                    </th>
                                    <th style="text-align:center;">
                                        ESTADO_CITA
                                    </th>
                                    <th style="text-align: center;">
                                        ACCIONES
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cita of citas">
                                        <td>
                                            {{cita.fechaCita}}
                                        </td>
                                        <td>
                                            {{cita.cliente.nombre + ' ' + cita.cliente.apellidos}}
                                        </td>
                                        <td>
                                            {{cita.motivo}}
                                        </td>
                                        <td *ngIf="cita.estado == true;else rojo" style="text-align:center;">
                                            🟢
                                        </td>
                                        <ng-template #rojo style="margin-bottom:20px;">
                                            <td style="text-align:center;">
                                                🔴
                                            </td>
                                        </ng-template>
                                        <td>
                                                    <a href="#Modal" role="button" class="btn btn-large btn-warning" data-toggle="modal" (click)="getCitasById(cita.id)">EDITAR CITA</a>
                                        </td>
                                        <td>
                                            <button _ngcontent-die-c89="" mat-raised-button="" type="submit"
                                                class="btn btn-danger mr-2" (click)="deleteCitas(cita.id)"><span
                                                    class="mat-button-wrapper"><i _ngcontent-die-c89=""
                                                        class="material-icons">delete</i>
                                                    <div _ngcontent-die-c89="" class="ripple-container"></div>
                                                </span><span matripple=""
                                                    class="mat-ripple mat-button-ripple"></span><span
                                                    class="mat-button-focus-overlay"></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- </div> -->
</div>

<!-- Modificar citas -->
<div class="main-content">
    <div class="container-fluid">
        <div class="card" id="tajeta" style="display: none;">
            <div class="card-header card-header-danger">
                <h4 class="card-title">EDITAR DE CITAS</h4>
                <!-- <p class="card-category">Complete your profile</p> -->
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="VETERINARIO" type="text" [(ngModel)]="citasid.id">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="FECHA" type="date" [(ngModel)]="citasid.fechaCita">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input matInput  placeholder="NOMBRE DEL CLIENTE"  type="text"
                                [(ngModel)]="citasid.cliente.nombre">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <textarea matInput rows="5" placeholder="MOTIVO DE CITA" [(ngModel)]="citasid.motivo">
                                          </textarea>
                        </mat-form-field>
                    </div>
                </div>


                <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                    (click)="updateCitas()">REGISTRAR</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                    (click)="botonCancelar()">CANCELAR</button>
                <div class="clearfix"></div>

            </div>
        </div>
        <!-- </div> -->
    </div>
</div>

    <!-- Vertically centered modal para editar la cita-->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">EDITAR CITA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
        
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="NOMBRE DEL CLIENTE" 
                                        [(ngModel)]="citasid.cliente.nombre +' '+ citasid.cliente.apellidos" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fecha Cita: " id="fechaReserva" type="text" [(ngModel)]="citasid.fechaCita" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Nueva Fecha: " id="fechaReserva" min="2022-07-19" type="date"  [(ngModel)]="fecha" (ngModelChange)="setHorasSeleccionadas()">
                                    </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <select style="padding-left: 10px;" id="op1" class="custom-select" name="select" [(ngModel)]="hora">
                                  <option value = "Selecciona una hora..." selected disabled>HORA...</option>
                                  <option value="{{hora}}" *ngFor="let hora of horasDisponibles"> {{getHoraConFormatoAmPm(hora)}}</option>
                                </select>
                            </div>
                            <br>
                        </div>
                        <br>
                        <div class="row">
                            
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="VETERINARIO" type="text" [(ngModel)]="citasid.veterinario.persona.nombre + ' ' + citasid.veterinario.persona.apellidos" disabled>
                                </mat-form-field>
                                <br>
                            </div>
                            <div class="col-md-6">
                                <select  style="padding-left: 10px;" class="custom-select" placeholder="Seleccione un veterinario..." [(ngModel)]="idVeterinario">
                                <option value = "Selecciona un veterinario..." selected disabled >Nuevo veterinario...</option>
                                <option value="{{veterinario.id}}" *ngFor="let veterinario of veterinarios"> {{veterinario.persona.nombre + ' ' + veterinario.persona.apellidos}}</option>
                                </select>
                                <br>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <textarea matInput rows="5" placeholder="MOTIVO DE CITA" [(ngModel)]="citasid.motivo">
                                                  </textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-large" data-dismiss="modal">CANCELAR</button>
                    <button mat-raised-button type="submit" class="btn btn-info pull-right"
                            (click)="updateCitas()">ACTUALIZAR CITA</button>
                </div> -->
            </div>
        </div>
    </div>