/* .alert.alert-success {
    box-shadow: none;
}

.alert.alert-success {
    background-color: #eeeeee;
    color: #494949;
}

.alert {
    border: 0;
    border-radius: 3px;
    position: relative;
    line-height: 20px;
}

.alert.alert-warning {
    background-color: #ff91005b;
    color: #ffffff;
}
.alert.alert-warning>i {
    color: #ffffff;
} */

div>a>div:hover {
    background-color: #b8b8b818;
}