#select{
margin-top: 15px;
margin-left: 25px;
}

#label{
    color: rgb(121, 121, 121);

}

#op1{
margin-left: 100px;
}
#op2{
    margin-left: 100px; 
}
#op3{
    margin-left: 100px;
}
#op4{
    margin-left: 100px;
}