<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row"> -->
            <!-- <div class="col-md-8"> -->
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">REGISTRO DE CITAS</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" (ngSubmit)="createCita()" novalidate>
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="VETERINARIO" type="text"  [(ngModel)]="veterinario.id">
                              </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="FECHA" type="date"  [(ngModel)]="fecha">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <label id="label">HORA</label>                          
                            <select id="select" name="select1" [(ngModel)]="opcionHora" style="height: 30px;">
                              <option value="opcion1">30 minutos</option>
                              <option value="opcion2">1 hora</option>
                              <option value="opcion3">1 horas 30 minutos</option>
                              <option value="opcion4">2 horas</option>
                            </select> <button (click)="opcionHoras()">🔎</button>

                            <select id="op1" name="select" [(ngModel)]="hora">
                              <option value="08:00:00">08:00am - 08:30am</option>
                              <option value="08:30:00">08:30am - 09:00am</option>
                              <option value="09:00:00">09:00am - 09:30am</option>
                              <option value="09:30:00">09:30am - 10:00pm</option>
                              <option value="10:00:00">10:00pm - 10:30pm</option>
                              <option value="10:30:00">10:30pm - 11:00pm</option>
                              <option value="11:00:00">11:00pm - 11:30pm</option>
                              <option value="11:30:00">11:30pm - 12:00pm</option>
                              <option value="14:00:00">14:00pm - 14:30pm</option>
                              <option value="14:30:00">14:30pm - 15:00pm</option>
                              <option value="15:00:00">15:00pm - 15:30pm</option>
                              <option value="15:30:00">15:30pm - 16:00pm</option>
                              <option value="16:00:00">16:00pm - 16:30pm</option>
                              <option value="16:30:00">16:30pm - 17:00pm</option>
                              <option value="17:00:00">17:00pm - 17:30pm</option>
                              <option value="17:30:00">17:30pm - 18:00pm</option>
                              <option value="18:00:00">18:00pm - 18:30pm</option>
                              <option value="18:30:00">18:30pm - 19:00pm</option>
                            </select>

                            <select id="op2" name="select" [(ngModel)]="hora">
                              <option value="08:00:00">08:00am - 09:00am</option>
                              <option value="09:00:00">09:00am - 10:00am</option>
                              <option value="10:00:00">10:00am - 11:00pm</option>
                              <option value="11:00:00">11:00am - 12:00pm</option>
                              <option value="14:00:00">14:00pm - 13:00pm</option>
                              <option value="13:00:00">13:00pm - 14:00pm</option>
                              <option value="14:00:00">14:00pm - 15:00pm</option>
                              <option value="15:00:00">15:00pm - 16:00pm</option>
                              <option value="16:00:00">16:00pm - 17:00pm</option>
                              <option value="17:00:00">17:00pm - 18:00pm</option>
                              <option value="18:00:00">18:00pm - 19:00pm</option>
                            </select>

                            <select id="op3" name="select" [(ngModel)]="hora" >
                              <option value="08:00:00">08:00am - 09:30am</option>
                              <option value="09:30:00">09:30am - 11:00am</option>
                              <option value="11:00:00">11:00am - 12:00pm</option>
                              <option value="14:00:00">14:00am - 15:30pm</option>
                              <option value="15:30:00">15:30pm - 17:00pm</option>
                              <option value="17:00:00">17:00pm - 19:00pm</option>
                            </select>
                          </div>

                          <select id="op4" name="select" [(ngModel)]="hora">
                            <option value="08:00:00">08:00am - 10:00am</option>
                            <option value="08:00:00">10:00am - 12:00pmm</option>
                            <option value="08:00:00">14:00am - 16:00pm</option>
                            <option value="08:00:00">16:00pm - 18:00pm</option>
                          </select>
                         
                        </div>

                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="NOMBRE DEL CLIENTE" type="text"  [(ngModel)]="citaDto.nombreCliente">
                                  </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <textarea matInput rows="5"
                                    placeholder="MOTIVO DE CITA"
                                    [(ngModel)]="citaDto.motivo">
                                  </textarea>
                                </mat-form-field>
                              </div>
                            </div>
                          
                            <!-- <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="ESTADO DE LA CITA" type="text" [(ngModel)]="citaDto.estado">
                                  </mat-form-field>
                                </div>
                            </div> -->

                            <!-- <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="se" type="text" [(ngModel)]="citaDto.servicios">
                                </mat-form-field>
                              </div>
                          </div> -->
                          
                            
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="createCita()">REGISTRAR</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            <!-- </div> -->
          
        </div>
    <!-- </div> -->
  </div>
  