<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">TRATAMIENTO</h4>
                        <p class="card-category">Complete el formulario</p>
                    </div>
                    <div class="card-body">

                        <form>

                            <div class="container">
                              <div class="row">

                                <!--Descripción-->
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                       <textarea matInput placeholder="Descripción" type="text"></textarea>
                                    </mat-form-field>
                                </div>

                                <!--Indicaciones -->
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Indicaciones" type="text"></textarea>
                                    </mat-form-field>
                                </div>
    
                                <!-- Fecha Apllicacion -->
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Fecha de Aplicación" type="date">
                                    </mat-form-field>
                                </div>

                                        <div class="col-md-3">
                                            <!--Esterilizacion-->
                                            <div class="col-md-5">
                                                <label>ESTADO</label>
                                                <div class="caja">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected disabled>Seleccione:</option>
                                                        <option value="INICIO">INICIO</option>
                                                        <option value="CONTINUA">CONTINUA</option>
                                                        <option value="FINALIZADO">FINALIZADO</option>
                                                    </select>
                                                </div>
                                        </div>
                                    </div>

                              </div>
                            </div> 

                                <div class="container">
                                    <div class="row">

                                        <div class="col-md-5">
                                            <label>LISTA DE MEDICAMENTOS</label>
                                        </div>
                                    </div>

                                    <div class="row">

                                       <div class="col-md-5">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Buscar Medicamento" type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-5">
                                            <button mat-raised-button type="submit" class="btn btn-danger">BUSCAR</button>
                                        </div>
                                    </div>
                                    
                                    <div class="row">

                                        <div class="col-md-12">
                                        <table class="table table-striped table-hover">
                                            <thead class="text-center">
                                                <tr>
                                                  <th class="table-danger" scope="col">Código</th>
                                                  <th class="table-danger" scope="col">Nombre Comercial</th>
                                                  <th class="table-danger" scope="col">Nombre Génerico</th>
                                                  <th class="table-danger" scope="col">Cantidad</th>
                                                  <th class="table-danger" scope="col">Precio</th>
                                                  <th class="table-danger" scope="col">Acciones</th>
                                                </tr>
                                              </thead>
                                              <tbody class="text-center">
                                                <tr>

                                                    <td scope="row"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <div class="text-center">
                                                            <div class="btn-group">
                                                                <button class="btn btn-warning" type="submit">Editar</button>
                                                                
                                                                <button class="btn btn-danger" type="submit">Eliminar</button>

                                                            </div>
                                                        </div>
                                                    </td>

                                                  </tr>
                                              </tbody>
                                        
                                        </table>
                                        </div>
                                    </div>

                                </div>

                
                            
                                <div class="row">
                                
                                        <div class="col-md-5">
                                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">CANCELAR</button>
                                            
                                        </div>
                                        <div class="col-md-5">
                                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">AGREGAR</button>
    
                                        </div>
                                    
                                </div> <!--fin row botones tratamiento-->
                           
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
