<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">TRATAMIENTO</h4>
                        <p class="card-category">Complete el formulario</p>
                    </div>
                    <div class="card-body">
                        <form  #f="ngForm" (ngSubmit)="guardarTratamiento()" novalidate >
                      

                            <div class="container">

                              <div class="row">

                                <!--Descripción-->
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                       <textarea matInput placeholder="Descripción" type="text" name="descripcion"  #descripcion="ngModel"
                                       [(ngModel)]="tratamiento.descripcion" 
                                       ></textarea>
                                    </mat-form-field>
                                </div>
                               
                            
                                <!--Indicaciones -->
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Indicaciones" type="text" name="indicaciones"#indicaciones="ngModel"
                                        [(ngModel)]="tratamiento.indicaciones" ></textarea>
                                    </mat-form-field>
                                </div>

                                <!-- Fecha Apllicacion -->
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Fecha de Aplicación" type="date" #fechaAplicacion="ngModel"
                                        [(ngModel)]="tratamiento.fechaAplicacion" >
                                    </mat-form-field>
                                </div>

                                        <div class="col-md-3">
                                            <!--Estado-->

                                         
                            
                                                 

                                            <div class="col-md-5">
                                                <label>ESTADO</label>
                                                <div class="caja">
                                                    <select class="form-select" aria-label="Default select example" name="estado" #estado="ngModel"
                                                    [(ngModel)]="tratamiento.estado">

                                                       <option [ngValue]="undefined">
                                                    ESTADO
                                                    </option>
                                                        <option value="INICIO">INICIO</option>
                                                        <option value="CONTINUA">CONTINUA</option>
                                                        <option value="FINALIZADO">FINALIZADO</option>
                                                    </select>
                                                </div>
                                        </div>
                                    </div>

                              </div>
                            </div> 

                              
                
                            
                                <div class="row">
                                
                                        <div class="col-md-5">
                                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">CANCELAR</button>
                                            
                                        </div>
                                        <div class="col-md-5">
                                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="guardarTratamiento()">Guardar</button>
    
                                        </div>
                                        <div class="col-md-5">
                                            <button mat-raised-button type="button" class="btn btn-danger pull-right">Agregar Medicacion</button>
                                            
                                        </div>
                                    
                                </div> <!--fin row botones tratamiento-->
                           
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>