<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">FICHA CLINICA ARCA</h4>
                        <p class="card-category">Complete el formulario {{animal.data.id}} {{loginUsuario.id}} </p>
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" (ngSubmit)="guardar()" novalidate>
                            <div class="row">
                                <!--Desparacitaciones-->
                                <div class="col-md-5">
                                    <!--    <input type="number" class="form-control" id="idInput" [value]="{{animal.data.id}}" [(ngModel)]="fichaClinica.animal.id">-->
                              </div>
                                <!-- fecha Ingreso -->
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Fecha Ingreso" type="date" [(ngModel)]="fichaClinica.fechaIngreso">
                                    </mat-form-field>
                                </div>
  
                                <!--Motivo Consulta -->
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Motivo de la Consulta" type="text"  name="motivoConsulta"  #motivoConsulta="ngModel" [(ngModel)]="fichaClinica.motivoConsulta"></textarea>
                                    </mat-form-field>
                                    <div class="text-danger" *ngIf="
                                    motivoConsulta.hasError('required') && motivoConsulta.touched
                                    ">
                                    motivoConsulta
                                          </div>
                                </div>
    
                                <!-- Hallazgos -->
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Hallazgos en Revición Clínica" type="text" [(ngModel)]="fichaClinica.hallazgos"></textarea>
                                    </mat-form-field>
                                </div>
  
                                <!--Alimentación-->
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width"> 
                                       <textarea matInput placeholder="Alimentación" type="text" [(ngModel)]="fichaClinica.alimentacion"></textarea>
                                    </mat-form-field>
                                </div>
  
                            </div>
  
                                <div class="row">
                                    
                                    <div class="col-md-5">
                                        <label>CONSTANTES FISIOLÓGICAS</label>
                                    </div>
  
                                    <!--Temperatura-->
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                           <input matInput placeholder="Temperatura" type="text" [(ngModel)]="fichaClinica.temperatura">
                                        </mat-form-field>
                                    </div>
    
                                    <!--Conjuntiva-->
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                           <input matInput placeholder="Conjuntiva" type="text" [(ngModel)]="fichaClinica.conjuntiva">
                                        </mat-form-field>
                                    </div>
                                    
                                    <!--Mucosas-->
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width"> 
                                           <input matInput placeholder="Mucosas" type="text"[(ngModel)]="fichaClinica.mucosas">
                                        </mat-form-field>
                                    </div>
    
                                     <!--Frecuencia Cardiaca-->
                                     <div class="col-md-5">
                                        <mat-form-field class="example-full-width"> 
                                           <textarea matInput placeholder="Frecuencia Cardiaca (F.C)" type="text" [(ngModel)]="fichaClinica.frecuenciaCardiaca"></textarea>
                                        </mat-form-field>
                                    </div>
    
                                    <!--Frecuencia Respiratoria-->
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width"> 
                                           <textarea matInput placeholder="Frecuencia Respiratoria (F.R)" type="text" [(ngModel)]="fichaClinica.frecuenciaRespiratoria"></textarea>
                                        </mat-form-field>
                                    </div>
    
                                    <!--Tiempo de Relleno Capilar -->
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width"> 
                                           <textarea matInput placeholder="Tiempo de Rellenado Capilar (T.R.C)" type="text" [(ngModel)]="fichaClinica.trc"></textarea>
                                        </mat-form-field>
                                    </div>
  
                                    <!--Examenes Solicitados-->
                                    <div class="col-md-5">
                                      <mat-form-field class="example-full-width"> 
                                         <textarea matInput placeholder="Examenes Solicitados" type="text" [(ngModel)]="fichaClinica.examenes_solicitados"></textarea>
                                      </mat-form-field>
                                  </div>
                                   
                                </div>
  
                                <div class="row">
                                    <!--Desparacitaciones-->
                                    <div class="col-md-5">
                                        <label>TIPO</label>
                                        <div class="caja">
                                        <select class="form-select" aria-label="Default select example" [(ngModel)]="fichaClinica.tipoPaciente">
                                            <option selected disabled>Seleccione:</option>
                                            <option value="INTERNO">INTERNO</option>
                                            <option value="EXTERNO">EXTERNO</option>
                                            
                                        </select>
                                        </div>
                                    </div>
  
                                    <!--Esterilizacion-->
                                    <div class="col-md-5">
                                        <label>Esterilización</label>
                                        <div class="caja">
                                            <select class="form-select" aria-label="Default select example" [(ngModel)]="fichaClinica.esterilizacion">
                                                <option selected disabled>Seleccione:</option>
                                                <option value="SI">SI</option>
                                                <option value="NO">NO</option>
                                            </select>
                                        </div>
                                      
                                    </div>
                                </div>
  
                                <div class="row">
                                    <!--Diagnostico Diferencial -->
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width"> 
                                           <textarea matInput placeholder="Diagnostico Diferencial" type="text" [(ngModel)]="fichaClinica.diagnosticoDiferencial"></textarea>
                                        </mat-form-field>
                                    </div>
  
                                </div>
  

                                <div class="row">
                                    <!--Dpronotico -->
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width"> 
                                           <textarea matInput placeholder="Pronostico" type="text" [(ngModel)]="fichaClinica.pronostico"></textarea>
                                        </mat-form-field>
                                    </div>
  
                                </div>
                                <!--Vacunas-->
                                    <div class="container-fluid" id="tablavacunas">
                                       
                                      <div class="row">
  
                                          <div class="col-md-4">
  
                                                      <label>Vacunas</label>
                                                      <button mat-raised-button type="submit" class="btn btn-danger pull-right"> AGREGAR </button>
                                                      <div class="clearfix"></div> 
                                                      
                                                  
                                              
                                          </div>
  
                                          <div class="col-md-12">
                                              <table class="table table-striped table-hover">
                                                  <thead class="text-center">
                                                      <tr>
                                                        <th class="table-danger" scope="col">ID</th>
                                                        <th class="table-danger" scope="col">Nombre</th>
                                                        <th class="table-danger" scope="col">Tipo</th>
                                                        <th class="table-danger" scope="col">Fecha</th>
                                                        <th class="table-danger" scope="col">Descripción</th>
                                                        <th class="table-danger" scope="col">Acciones</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
  
                                                      <!---->
                                                      <tr>
  
                                                        <td scope="row"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <div class="text-center">
                                                                <div class="btn-group">
  
                                                                    <div class="col-md-5">
                                                                      
                                                                      <div class="input-group no-border">
                                                                      
                                                                          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" class="btneliminar">
                                                                              <i class="material-icons">mode_edit</i>
                                                                              <div class="ripple-container"></div>
                                                                          </button>
                                                                          
                                                                      </div>
  
                                                                    </div>
  
                                                                    <div class="col-md-5">
                                                                      
                                                                      <div class="input-group no-border">
                                                                      
                                                                          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" class="btneliminar">
                                                                              <i class="material-icons">delete</i>
                                                                              <div class="ripple-container"></div>
                                                                          </button>
                                                                          
                                                                      </div>
                                                                      
                                                                    </div>
  
                                                                </div>
                                                            </div>
                                                        </td>
  
                                                      </tr>
                                                    </tbody>
                                          
                                              </table>
                                          </div>
                                      </div> <!--fin row-->
                                    </div> <!--fin container-fluid-->
                                     
                                
                              <!--Tratamientos-->
                              <div class="container-fluid">
                                  <div class="row">
                                         <div class="col-md-4">
  
                                             <label>Tratamientos</label>
                                             <button mat-raised-button type="submit" class="btn btn-danger pull-right">AGREGAR</button>
                                             <div class="clearfix"></div>
                                         
                                          </div>
  
                                         <div class="col-md-12">
                                             <table class="table table-striped table-hover">
                                                 <thead class="text-center">
                                                     <tr>
                                                       <th class="table-danger" scope="col">ID</th>
                                                       <th class="table-danger" scope="col">Descripción</th>
                                                       <th class="table-danger" scope="col">Indicaciones</th>
                                                       <th class="table-danger" scope="col">Estado</th>
                                                       <th class="table-danger" scope="col">Acciones</th>
                                                     </tr>
                                                   </thead>
                                                   <tbody>
                                                     <tr>
                                                         <td></td>
                                                         <td></td>
                                                         <td></td>
                                                         <td></td>
                                                         <td>
                                                              <div class="text-center">
                                                                  <div class="btn-group">
                                                                      
                                                                      <div class="col-md-5">
                                                                      
                                                                          <div class="input-group no-border">
                                                                          
                                                                              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" class="btneliminar">
                                                                                  <i class="material-icons">mode_edit</i>
                                                                                  <div class="ripple-container"></div>
                                                                              </button>
                                                                              
                                                                          </div>
      
                                                                        </div>
  
                                                                        <div class="col-md-5">
                                                                      
                                                                          <div class="input-group no-border">
                                                                          
                                                                              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" class="btneliminar">
                                                                                  <i class="material-icons">delete</i>
                                                                                  <div class="ripple-container"></div>
                                                                              </button>
                                                                              
                                                                          </div>
      
                                                                        </div>
  
                                                                  </div>
                                                              </div>
                                                         </td>
                                                     </tr>
                                                   </tbody>
                                         
                                             </table>
                                         </div>
                                         
                                       </div> <!--fin row tratamientos-->
                                   </div> <!--fin container-fluid-->
                                    
  
                                <div class="row">
                                    <!--Costo -->
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Costo" type="number" [(ngModel)]="fichaClinica.costo">
                                        </mat-form-field>
                                    </div>
  
                                    <!--Desparacitaciones-->
                                    <div class="col-md-5">
                                        <div class="caja">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected disabled>Tutor:</option>
                                            <option value="1">1</option>
                                        </select>
                                        </div>
                                    </div>
                                    
  
                                  </div> <!--fin row costos-->
  
                          <!--lista de botones para registar la ficha clinica-->
                          <div class="row">
                             <!-- <div class="col-md-3">
                                  <button mat-raised-button type="submit" class="btn btn-danger pull-right">REGRESAR</button>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="col-md-3">
                                  <button mat-raised-button type="submit" class="btn btn-danger pull-right">LIMPIAR CAMPOS</button>
                                  <div class="clearfix"></div>
                              </div>
                              -->
                              <div class="col-md-3">
                                  <button type="submit" mat-raised-button class="btn btn-danger pull-right" (click)="guardar()">REGISTRAR FICHA CLINICA</button>
                                  <div class="clearfix"></div>
                              </div>
                          </div> <!--fin row botones-->
  
                        </form>
  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>