<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">REGISTRO DE PERSONAS</h4>

      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="CEDULA">
              </mat-form-field>
            </div>

            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="NOMBRE">
              </mat-form-field>
            </div>

          </div>

          <div class="row">
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="APELLIDO">
              </mat-form-field>
            </div>

            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="EMAIL ADDRESS" type="email">
              </mat-form-field>
            </div>

          </div>

          <div class="row">
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="TELEFONO" type="text">
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="DIRECCION" type="text">
              </mat-form-field>
            </div>
          </div>

          <button mat-raised-button type="submit" class="btn btn-danger pull-right">REGISTRAR</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>