<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de Vacunas </h4>
                        <p class="card-category"> Vacunas
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        NOMBRE DE LA VACUNA
                                    </th>
                                    <th>
                                        TIPO DE VACUNA
                                    </th>                                   
                                    <th>
                                        DESCRIPCION
                                    </th>
                                    <th>
                                        ACCION
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let vacuna of vacunas">
                                        <td>
                                            {{vacuna.nombre}}
                                        </td>
                                        <td>
                                            {{vacuna.tipo}}
                                        </td>
                                        <td>
                                           {{vacuna.descripcion}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>