<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de Vacunas </h4>
                        <p class="card-category"> Vacunas
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        NOMBRE DE LA VACUNA
                                    </th>
                                    <th>
                                        TIPO DE VACUNA
                                    </th>
                                    <th>
                                        FECHA DE LA VACUNA
                                    </th>
                                    <th>
                                        DESCRIPCION
                                    </th>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            distemper
                                        </td>
                                        <td>
                                            VR, VVM
                                        </td>
                                        <td>
                                            01/06/2022
                                        </td>
                                        <td>
                                            CADA 3 AÑOS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            distemper
                                        </td>
                                        <td>
                                            VR, VVM
                                        </td>
                                        <td>
                                            01/06/2022
                                        </td>
                                        <td>
                                            CADA 3 AÑOS
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            distemper
                                        </td>
                                        <td>
                                            VR, VVM
                                        </td>
                                        <td>
                                            01/06/2022
                                        </td>
                                        <td>
                                            CADA 3 AÑOS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            distemper
                                        </td>
                                        <td>
                                            VR, VVM
                                        </td>
                                        <td>
                                            01/06/2022
                                        </td>
                                        <td>
                                            CADA 3 AÑOS
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            distemper
                                        </td>
                                        <td>
                                            VR, VVM
                                        </td>
                                        <td>
                                            01/06/2022
                                        </td>
                                        <td>
                                            CADA 3 AÑOS
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>