<form class="mt-4" [formGroup]="passwordForm" (ngSubmit)="updatePasswor()">
    <div class=" col-md-12 mb-5">
        <mat-card-title>CAMBIAR CONTRASEÑA</mat-card-title>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md mt-5">
                    <div class="mb-3">
                        <!-- <p class="fw-normal">CONTRASEÑA ACTUAL</p> -->
                        <mat-form-field hideRequiredMarker="true" appearance="outline">
                            <mat-label>Contraseña actual</mat-label>
                            <input matInput [errorStateMatcher]="matcher" name="current_password"
                                formControlName="current_password" type="password">
                            <mat-error  *ngIf="passwordForm.get('current_password').invalid">
                                {{message ?? "Ingrese su contraseña actual"}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <div class=" mb-3">
                            <!-- <p class="fw-normal">NUEVA CONTRASEÑA</p> -->
                            <mat-form-field hideRequiredMarker="true" appearance="outline">
                                <mat-label>Nueva contraseña</mat-label>
                                <input matInput [errorStateMatcher]="matcher" formControlName="new_password"
                                    type="password" name="new_password">
                                <mat-error
                                    *ngIf="passwordForm.get('new_password').hasError('pattern') && passwordForm.get('new_password').touched && passwordForm.get('new_password').dirty">
                                    Tu contraseña no
                                    tiene el formato correcto</mat-error>
                                <mat-error
                                    *ngIf="passwordForm.get('new_password').invalid && !passwordForm.get('new_password').hasError('pattern')">
                                    Ingese contraseña nueva</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- <div class="mb-2">
                            <mat-form-field  hideRequiredMarker="true"  appearance="outline">
                                <mat-label>Vuelve a escribir la nueva contraseña</mat-label>
                                <input   matInput  [errorStateMatcher]="matcher"
                                    formControlName="confirm_password" type="password" name="confirm_password">
                                    <mat-error
                                        *ngIf="passwords.get('new_password').hasError('pattern') || passwords.invalid || passwords.get('confirm_password').hasError('pattern')">
                                        Debes introducir una contraseña que coincida</mat-error>
                            </mat-form-field>
                        </div> -->
                    </div>
                </div>
                <div class="col-md">
                    <div class="row">
                        <div class="col-md-12 bg-light border rounded-3">
                            <p class="fw-normal mt-2">Tu contraseña</p>
                            <div>
                                <p>Debe tener siete o más
                                    caracteres.</p>
                                <p>Debe contener al menos un número, una letra mayúscula y una letra
                                    minúscula.</p>
                                <p>No debe contener espacios.</p>
                                <p>
                                   Puede contener caracteres especiales
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button mat-button type="submit" class="btn btn-info"> GUARDAR CAMBIOS
            </button>
        </div>
    </div>
</form>