<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row"> -->
            <!-- <div class="col-md-8"> -->
                <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">REGISTRO CARNET DE VACUNAS</h4>
                        <p class="card-category">Complete el formulario</p>
                    </div>
                    <div class="card-body">
                        <form >
                          <div class="row" >
                            <br>
                            <br>
                               <div class="col-md-5">
                                  <label>FECHA APLICACION</label>
                                  <br>
                                 <div>
                                    <input class="input"  matInput placeholder = "FECHA APLICACION" type="date" >
                                 </div> 
                              </div>
                              <br>
                              <br>
                              <div class="col-md-5">
                                  <label>FECHA PROXIMA DE APLICACION</label>
                                  <br>
                                  <div>
                                    <input class="input" matInput placeholder="FECHA PROXIMA DE APLICACION" type="date">
                                  </div>
                            </div>
                            <br>
                            <br>
                            <div class="col-md-5">
                                <br>
                                <br>
                                <label>VACUNA</label>
                                <div class="caja">
                                <select class="form-select" aria-label="Default select example" name="nombrevacuna">
                                    <option selected disabled >Seleccione:</option>
                                    <option value="vacuna">vacuna</option>
                                    
                                </select>
                                </div>
                            </div>
                          </div>
                    
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"  (click)="guardarCarnet()">REGISTRAR</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div> 
            <!-- </div> -->
          
        </div>
    <!-- </div> -->
  </div>