<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de medicamentos</h4>
                        <p class="card-category"> medicamentos
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        FECHA
                                    </th>
                                    <th>
                                        ADOPTANTE
                                    </th>
                                    <th>
                                        DESCRIPCION
                                    </th>
                                   
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            13-05-2022
                                        </td>
                                        <td>
                                            SCARLET 
                                        </td>
                                        <td>
                                            MASCOTA CON TODAS LAS VACUNAS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            13-05-2022
                                        </td>
                                        <td>
                                            SCARLET 
                                        </td>
                                        <td>
                                            MASCOTA CON TODAS LAS VACUNAS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            13-05-2022
                                        </td>
                                        <td>
                                            SCARLET 
                                        </td>
                                        <td>
                                            MASCOTA CON TODAS LAS VACUNAS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            13-05-2022
                                        </td>
                                        <td>
                                            SCARLET 
                                        </td>
                                        <td>
                                            MASCOTA CON TODAS LAS VACUNAS
                                        </td>
                                       
                                    </tr>
                                    <tr>
                                        <td>
                                            13-05-2022
                                        </td>
                                        <td>
                                            SCARLET 
                                        </td>
                                        <td>
                                            MASCOTA CON TODAS LAS VACUNAS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            13-05-2022
                                        </td>
                                        <td>
                                            SCARLET 
                                        </td>
                                        <td>
                                            MASCOTA CON TODAS LAS VACUNAS
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  