<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de medicamentos</h4>
                        <p class="card-category"> medicamentos
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        NOMBRE COMERCIAL
                                    </th>
                                    <th>
                                        NOMBRE GENERICO
                                    </th>
                                    <th>
                                        CANTIDAD
                                    </th>
                                    <th>
                                        PRECIO
                                    </th>
                                    <th>
                                        ACCION
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let medicamentos of medicamento">
                                        <td>
                                          {{medicamentos.nombreComercial}}  
                                        </td>
                                        <td>
                                            {{medicamentos.nombreGenerico}}
                                        </td>
                                        <td>
                                           {{medicamentos.cantidad}}
                                        </td>
                                        <td>
                                            {{medicamentos.precio}}
                                        </td>
                                        <td>
                                            <button _ngcontent-ffd-c89="" mat-raised-button="" (click)="prueba('editar')"
                                                class="mat-focus-indicator btneliminar mat-raised-button mat-button-base"><span
                                                    class="mat-button-wrapper"><i _ngcontent-ffd-c89=""
                                                        class="material-icons">mode_edit</i>
                                                    <div _ngcontent-ffd-c89="" class="ripple-container"></div>
                                                </span><span matripple=""
                                                    class="mat-ripple mat-button-ripple"></span><span
                                                    class="mat-button-focus-overlay"></span></button>
                                        </td>
                                        <td>
                                            <button _ngcontent-slk-c89="" mat-raised-button="" (click)="prueba('eliminar')"
                                                class="mat-focus-indicator btneliminar mat-raised-button mat-button-base"><span
                                                    class="mat-button-wrapper"><i _ngcontent-slk-c89=""
                                                        class="material-icons">delete</i>
                                                    <div _ngcontent-slk-c89="" class="ripple-container"></div>
                                                </span><span matripple=""
                                                    class="mat-ripple mat-button-ripple"></span><span
                                                    class="mat-button-focus-overlay"></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="container">
                       
                        <div class="pagination p11">
                          <ul>
                            <button (click)="previous()"> < </button>
                         
                            <button (click)="next()"> > </button>
                          </ul>
                        </div>  
                                
                      </div>
                      
                </div>
            </div>
        </div>
    </div>
  </div>
  