<div class="logo" id="logoArca">
	<a href="/#/menu" class="simple-text" >
		<img style="width:75px;height: 75px;" src="/assets/img/arca-logo.png" />
	</a>
</div>
<div class="sidebar-wrapper" id="fondo">
	<ul class="nav">
		<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item"
			*ngFor="let menu of menuItems">
			<ng-container *ngIf="hasRole(menu.roles)">
				<a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-expanded="false"
					data-toggle="collapse" [routerLink]="menu.url" [attr.data-target]="'#'+menu.ref">
					<i [class]="menu.icon"></i>
					<strong>
						{{menu.tittle }}
					</strong>
				</a>
				<div *ngIf="menu.ref" class="collapse" [id]="menu.ref">
					<ul class="nav">
						<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item"
							*ngFor="let items of menu.items">
							<ng-container *ngIf="hasRole(items.roles)">
								<a aria-expanded="false" data-toggle="collapse" [routerLink]="menu.url" class="nav-link"
									routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="items.url">
									<i [class]="items.icon" style="font-size: 20px">
									</i>
									<strong>{{ items.tittle }}</strong>
								</a>
							</ng-container>
						</li>
					</ul>
				</div>
			</ng-container>
		</li>
	</ul>
</div>
