<!-- ---------------------------------------- COMPONETE: AGENDAR CITA ---------------------------------------- -->
<div class="main-content">
  <div class="card">

    <!-- ---------------------------------------- Cabecera ---------------------------------------- -->
    <div class="card-header card-header-danger">
      <h4 class="card-title">REGISTRO DE CITAS</h4>
    </div>

    <!-- ---------------------------------------- Cuerpo ---------------------------------------- -->
    <div class="card-body">

      <!-- --------------- Formulario --------------- -->
      <form>

        <!-- Fila 1: Buscar y agregar clientes por cedula: -->
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Buscar cliente por cédula" type="text"  [(ngModel)]="cedulaCliente" maxlength="10" minlength="10">
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <button mat-raised-button type="submit" class="float-right btn btn-danger" (click)="buscarCliente()">Buscar</button>
          </div>

          <div class="col-md-3">
            <a href="#Modal" role="button" class="btn btn-large btn-success" data-toggle="modal">AGREGAR CLIENTE</a>
          </div>
        </div>

        <!-- Fila 2: Nombres, correo y celular del cliente -->
        <div style="margin: 30px 0;">
          <hr>
          <h4 style="font-weight: bold;">DATOS DEL CLIENTE</h4>
        </div>
        
        <div class="row">

          <div class="col-md-4">
              <label style="margin-right: 10px;">Cliente: </label>
              <input *ngIf="cliente.nombre != undefined" value="{{cliente.nombre+' '+cliente.apellidos}}" disabled>
              <input *ngIf="cliente.nombre == undefined" value="" disabled>
          </div>

          <div class="col-md-4">
            <label style="margin-right: 10px;">Correo electrónico: </label>
            <input  value="{{cliente.correo}}" disabled>
          </div>

          <div class="col-md-4">
            <label style="margin-right: 10px;">Celular: </label>
            <input value="{{cliente.celular}}" disabled>
          </div>
          
        </div>

        <!-- Fila 3: Servicios, Fecha, hora y Veterinario-->
        <div style="margin: 30px 0; font-weight: bold;">
          <hr>
          <h4 style="font-weight: bold;">DATOS DE LA CITA</h4>
        </div>

        <div class="row">

          <div class="col-md-3">
            <mat-form-field>
              <mat-label>Servicios: </mat-label>
              <mat-select [formControl]="fcServicios" multiple>
                <mat-select-trigger>
                  {{fcServicios.value?.[0] || ''}}
                  <span *ngIf="(fcServicios.value?.length || 0) > 1" class="example-additional-selection">
                    (+{{(fcServicios.value?.length || 0) - 1}} {{fcServicios.value?.length === 2 ? 'seleccionado' : 'seleccionados'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let servicio of nombresServicios" [value]="servicio">{{servicio}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Fecha Cita: " id="fechaReserva" min="2022-07-19" type="date"  [(ngModel)]="fecha">
            </mat-form-field>
          </div>

          <div class="col-md-3">
              <select style="padding-left: 10px;" id="op1" class="custom-select" name="select" [(ngModel)]="hora">
                <option value = "Selecciona una hora..." selected disabled>Selecciona una hora...</option>
                <option value="08:00:00">08:00am - 08:30am</option>
                <option value="08:30:00">08:30am - 09:00am</option>
                <option value="09:00:00">09:00am - 09:30am</option>
                <option value="09:30:00">09:30am - 10:00pm</option>
                <option value="10:00:00">10:00pm - 10:30pm</option>
                <option value="10:30:00">10:30pm - 11:00pm</option>
                <option value="11:00:00">11:00pm - 11:30pm</option>
                <option value="11:30:00">11:30pm - 12:00pm</option>
                <option value="14:00:00">14:00pm - 14:30pm</option>
                <option value="14:30:00">14:30pm - 15:00pm</option>
                <option value="15:00:00">15:00pm - 15:30pm</option>
                <option value="15:30:00">15:30pm - 16:00pm</option>
                <option value="16:00:00">16:00pm - 16:30pm</option>
                <option value="16:30:00">16:30pm - 17:00pm</option>
                <option value="17:00:00">17:00pm - 17:30pm</option>
                <option value="17:30:00">17:30pm - 18:00pm</option>
                <option value="18:00:00">18:00pm - 18:30pm</option>
                <option value="18:30:00">18:30pm - 19:00pm</option>
              </select>
          </div>

          <div class="col-md-3">
            <label *ngIf="idVeterinario == 'Selecciona un veterinario...'" style="margin: 11px 0 0 10px; color:#495057; font-size: 1rem; font-weight: 400;">
              Selecciona un veterinario...
            </label>
            <label *ngIf="idVeterinario != 'Selecciona un veterinario...'" style="margin-bottom: 52px;"></label>
            <select  style="padding-left: 10px; margin-top: -55px;" class="custom-select" placeholder="Seleccione un veterinario..." [(ngModel)]="idVeterinario">
              <option value = "Selecciona un veterinario..." selected disabled >Selecciona un veterinario...</option>
              <option value="{{veterinario.id}}" *ngFor="let veterinario of veterinarios"> {{veterinario.persona.nombre + ' ' + veterinario.persona.apellidos}}</option>
            </select>
          </div>

        </div>

        <!-- Fila 3: Motivo de consulta -->
        <div class="row">

          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <textarea matInput rows="5" placeholder="Motivo de la cita: " [(ngModel)]="cita.motivo"> </textarea>
            </mat-form-field>
          </div>

        </div>

        <!-- Fila 4: Guardar -->
        <div class="row">

          <div class="col-md-12">
            <button type="button" class="float-right btn btn-danger" (click)="guardarCita()">Guardar</button>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>


<!-- ---------------------------------------- VENTANA MODAL: CREAR CLIENTE ---------------------------------------- -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

       <!-- ---------------------------------------- Cabecera ---------------------------------------- -->
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel">REGISTRO DE CLIENTE</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <!-- ---------------------------------------- Cuerpo ---------------------------------------- -->
      <div class="modal-body">
        <!-- --------------- Formulario --------------- -->
        <form>

          <!-- Fila 1: Cedula y nombre -->
          <div class="row">
            
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput name="cedula" placeholder="Cédula: " type="text" [(ngModel)]="clienteDto.cedula" maxlength="10" minlength="10" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode))) return false;">
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre: " [(ngModel)]="clienteDto.nombre">
              </mat-form-field>
            </div>

          </div>

          <!-- Fila 2: Apellido y correo -->
          <div class="row">

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Apellido: " [(ngModel)]="clienteDto.apellidos">
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Correo electrónico: " type="email" [(ngModel)]="clienteDto.correo">
              </mat-form-field>
            </div>

          </div>

          <!-- Fila 3: Celular y telefono -->
          <div class="row ">

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput name="telefono" placeholder="Teléfono: " type="text" [(ngModel)]="clienteDto.telefono"  maxlength="9" minlength="7" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode))) return false;">
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput name="celular" placeholder="Celular: " type="text" [(ngModel)]="clienteDto.celular"  maxlength="10" minlength="10" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode))) return false;">
              </mat-form-field>
            </div>

          </div>

          <!-- Fila 4: Direccion-->
          <div class="row">
            <div class="col-md-9">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Dirección: " type="text" [(ngModel)]="clienteDto.direccion">
              </mat-form-field>
            </div>
          </div>

          <!-- Fila 5: Btn Cancelar y Guardar -->
          <div class="row mx-auto">

            <div class="col-md-12">
              <div style="width: fit-content; margin: auto;">
                <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-right: 10px;">Regresar</button>
                <button type="button" class="btn btn-danger" (click)="agregarCliente()">Guardar</button>
              </div>
            </div>

          </div>

        </form>

      </div>

  </div>
</div>