<div class="main-content">
    <div class="container-fluid">
        <mat-card>
            <nav mat-tab-nav-bar color="warn" [tabPanel]="tabPanel" >
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a mat-tab-link class="nav-link" *ngFor="let  link of links" [routerLink]="link.path"
                            routerLinkActive #router="routerLinkActive" [active]="router.isActive">
                            <mat-icon class="mr-2">{{link.icon}}</mat-icon>
                            {{link.tittle}}
                        </a>
                    </li>
                </ul>
            </nav>
            <mat-tab-nav-panel #tabPanel>
                <router-outlet></router-outlet>
            </mat-tab-nav-panel>
        </mat-card>
    </div>
</div>