::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #828282!important;
}

// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
//     color: #f44336 !important;
// }

::ng-deep .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #828282!important;
}

// ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
//     color: #828282!important;
// }

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #828282!important;
}

::ng-deep .mat-form-field-outline {
    color: #828282!important;
}