<div class="main-content">
    <div class="container-fluid">
      
        <div class="card">
  
        <div class="card-header card-header-danger">
          <h4 class="card-title">PERFIL DE USUARIO</h4> </div>
  
        <div class="card-body">
          <form >
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input  matInput placeholder="CEDULA" disabled type="text" name="cedula" #cedula="ngModel" [(ngModel)]="usuariodto?.persona.cedula">
                </mat-form-field>
              </div>

  
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input  matInput placeholder="NOMBRE" disabled type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuariodto?.persona.nombre">
                </mat-form-field>
              </div>
  
            </div>
  
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input  matInput placeholder="APELLIDO" disabled type="text" name="apellido" #apellido="ngModel" [(ngModel)]="usuariodto?.persona.apellidos" >
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input  matInput placeholder="CORREO" type="email" name="correo" #correo="ngModel" [(ngModel)]="usuariodto?.persona.correo" disabled>
                </mat-form-field>
              </div>
  
            </div>
  
            <div class="row"  >
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input  matInput placeholder="TELEFONO" type="number" name="telefono" #telefono="ngModel" [(ngModel)]="usuariodto?.persona.telefono" disabled>
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input  matInput placeholder="CELULAR" type="number" name="celular" #celular="ngModel"  [(ngModel)]="usuariodto?.persona.celular" disabled>
                </mat-form-field>
              </div>
   
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input  matInput placeholder="DIRECCION" type="text" name="direccion" #direccion="ngModel" [(ngModel)]="usuariodto?.persona.direccion" disabled>
                </mat-form-field>
              </div>
              
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input  matInput placeholder="USUARIO" type="text"  name="username" #username="ngModel" [(ngModel)]="usuariodto.username" disabled>
                </mat-form-field>
              </div> 

            </div>

            <div class="row">
                
                <div class="col-md-3">
                    <label>¿CAMBIAR CONTRASEÑA?</label>
                </div>

                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Escriba la contraseña Actual."  type="password" name="password" #password="ngModel" [(ngModel)]="usuariodto.password" disabled>
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Escriba la contraseña Nueva." type="password" disabled>
                    </mat-form-field>
                    <br>
                </div>

                <div class="col-md-3">
                    <button mat-raised-button type="submit" class="btn btn-success" (onclick)="editarperfil(usuariodto.password,usuariodto?.persona.id)">Comprobar Contraseñas</button>
                </div>


            </div>
  
            <button mat-raised-button type="submit" class="btn btn-danger pull-right" > REGRESAR </button>
            <button mat-raised-button type="button" class="btn btn-success" onclick="activarcaja()"> EDITAR DATOS </button>
            <button mat-raised-button type="submit" class="btn btn-warning" disabled > GUARDAR </button>
            
            <div class="clearfix"></div>
          </form>

        <script type="text/javascript">
            function activarcaja(){
                document.getElementById('caja').disabled=false
            }
        </script>

        </div>
      </div>
  
      
  
    </div>
  </div>

 