/* table {
    font-family: arial, sans-serif;
    width: 30%;
    background-color: rgb(236, 199, 205)
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-color: blue;
}

tr:nth-child(even) {
    background-color: #dddddd;
} */