<div class="container-fluid">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
  
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Listado DE MASCOTAS</h4>
              
            </div>
          </div>
        </div>
  


<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Listado de Mascotas</h4>
          <div class="row">
           
            <div class="col-md-3">
              <select class="form-control">
                <option [ngValue]="undefined">Nombre (TODAS)</option>
                <option *ngFor="let animal of animales" [ngValue]="animal.nombre">
                  {{ animal.nombre }}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary">
                <i class="mdi mdi-magnify"></i>
                Buscar
              </button>
            </div>
            <div class="col-md-3 text-right">
              <button class="btn btn-light btn-sm" >
                Mostrar Todas
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-5" *ngFor="let animal of animales">
              <!-- Card -->
              <div class="card border-dark">
                <img class="card-img-top img-responsive" src="../assets/img/perrito.jpeg" alt="Card image cap" />
                <div class="card-body">
                  <h4 class="card-title">
                    Nombre  {{animal.nombre}}
                
                  </h4>
                  <p class="card-text">
                    Especie: {{animal.especie}}
                  </p>
                  <p class="card-text">
                    Raza: {{animal.raza}}
                  </p>
                   <p class="card-text">
                    Sexo:  {{ animal.sexo}}
                  </p>
                
  
                  <div class="col-md-3 text-right">
                    <button class="btn btn-primary btn-sm"(click)="Detalle(animal.id)">
                     Ver
                    </button>
  
  
  
                    <br>
                    <br>
  
                  </div>
  
                </div>
              </div>
              <!-- Card -->
            
    

                 

                    
    </div></div></div></div>
   

</div>
</div>

<div class="container " >
                       
    <div class="pagination p11 " >
      <ul>
        <button (click)="previous()"> < </button>
     
        <button (click)="next()"> > </button>
      </ul>
    </div>  
            
  </div>
</div>
</div>
</div>

