<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista Adoptados</h4>
                        <p class="card-category"> Animalitos en adopción</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        FECHA
                                    </th>
                                    <th>
                                        ADOPTANTE
                                    </th>
                                    <th>
                                        DESCRIPCION
                                    </th>
                                   
                                </thead>
                                <tbody>
                                    <tr *ngFor="let adopciones of adopcion">
                                        <td>
                                            {{adopciones.fechaAdopcion}}
                                        </td>
                                        <td>
                                            {{adopciones.adoptante.persona.nombre}}  {{adopciones.adoptante.persona.apellidos}}
                                        </td>
                                        <td>
                                            {{adopciones.descripcion}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  

   



    