#myInput {
    float: right;
    width: 200px;
    color: rgb(255, 255, 255);
}

.required {
    float: right;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.btneliminar {
    margin-left: 10px;
    
    text-align: center;
}

.btneditar {
    
    text-align: center;
}

.btnseguimiento{
    background-color: rgb(125, 184, 248);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
}


.circulo{
  width: 140px;
  height: 140px; 
  border-radius: 100px;
}



#card{
    margin-top: 20px;
    background:  rgb(240, 240, 240);
}

#label{
    color: rgb(44, 44, 44);
}

#tarjeta{
    position: fixed;
    width:1000px;
}