#myInput{
    float: right;
    width: 200px;
    color: rgb(255, 255, 255);
}
.required{
    float: right;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.btneliminar{
    margin-left: 20px;
    background-color: rgb(255, 58, 58);
}

.btneditar{
    background-color: rgb(250, 193, 37);
}