<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">REGISTRO DE VACUNA</h4>
                    </div>

  
    <div class="card-body">
      <div class="col-md-11">
        <form (ngSubmit)="modificarCarnet()" #MyForm="ngForm" novalidate>
            <h4 class="card-title">Complete los campos.</h4>
          <div class="row" >
         
               <div class="col-md-5">
                <div class="form-group">
                  <div class="input-group-prepend">
                <mat-form-field class="example-full-width">
                    <input class="input"  matInput placeholder = "FECHA APLICACION" type="date"name="fechaAplicacion" #fechaAplicacion="ngModel"
                    [(ngModel)]="carnetVacuna.fechaAplicacion" />
                  </mat-form-field>
                 

                </div></div></div>

              <div class="col-md-5">
                <mat-form-field class="example-full-width">
                    <input class="input" matInput placeholder="FECHA PROXIMA DE APLICACION" type="date" name="fechaProximaAplicacion" #fechaProximaAplicacion="ngModel"
                    [(ngModel)]="carnetVacuna.fechaProximaAplicacion"/>
                 
                </mat-form-field>
             
               </div>
          </div>
<br>


<!--VACUNA-->
<div class="dato">
<div class="row" >
  <div class="col-md-10">

  <div class="col-md-4">
 

    <label>Nombre de Vacuna: {{carnetVacuna.vacuna.nombre}}</label>
  </div>
 

  
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Seleccione la nueva vacuna....</mat-label>
          <mat-select [(ngModel)]="selectedvacunas">
            <mat-option  [value]="item" *ngFor="let item  of vacunas"> {{item.nombre}} 
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>



    </div>
  <br><br></div>
  </div>

  



<button mat-raised-button type="submit" class="btn btn-info pull-right"
  (click)="modificarCarnet()">EDITAR</button>
<button mat-raised-button type="submit" class="btn  pull-right"
  (click)="volver()" id="cancelar">REGRESAR</button>


        </form>      </div>
    </div>
    </div>

</div> 