<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de personas</h4>
                        <p class="card-category"> PERSONAS</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        CEDULA
                                    </th>
                                    <th>
                                        NOMBRE
                                    </th>
                                    <th>
                                        APELLIDO
                                    </th>
                                    <th>
                                        EMAIL
                                    </th>
                                    <th>
                                        TELEFONO
                                    </th>
                                    <th>
                                        DIRECCION
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let persona of personas">
                                        <td>
                                            {{persona.cedula}}
                                        </td>
                                        <td>
                                            {{persona.nombre}}
                                        </td>
                                        <td>
                                            {{persona.apellidos}}
                                        </td>
                                        <td>
                                            {{persona.correo}}
                                        </td>
                                        <td>
                                            {{persona.telefono}}
                                        </td>
                                        <td>
                                            {{persona.direccion}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    
                    <div class="container">
                       
                        <div class="pagination p11">
                          <ul>
                            <button (click)="previous()"> < </button>
                         
                            <button (click)="next()"> > </button>
                          </ul>
                        </div>  
                                
                      </div>
                       

                </div>
            </div>
        </div>
    </div>
</div>