<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de personas</h4>
                        <p class="card-category"> PERSONAS</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        CEDULA
                                    </th>
                                    <th>
                                        NOMBRE
                                    </th>
                                    <th>
                                        APELLIDO
                                    </th>
                                    <th>
                                        EMAIL
                                    </th>
                                    <th>
                                        TELEFONO
                                    </th>
                                    <th>
                                        DIRECCION
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            0107162497
                                        </td>
                                        <td>
                                            ESTEBAN
                                        </td>
                                        <td>
                                            LUCERO
                                        </td>
                                        <td>
                                            christianolucero@gmail.com
                                        </td>
                                        <td>
                                            0968518495
                                        </td>
                                        <td>
                                            NULTI
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            0107162499
                                        </td>
                                        <td>
                                            AMELIA
                                        </td>
                                        <td>
                                            AUQUILLA
                                        </td>
                                        <td>
                                            ameliae@gmail.com
                                        </td>
                                        <td>
                                            0968518420
                                        </td>
                                        <td>
                                            NULTI
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            0107173497
                                        </td>
                                        <td>
                                            ANTHONY
                                        </td>
                                        <td>
                                            LUCERO
                                        </td>
                                        <td>
                                            alucero@gmail.com
                                        </td>
                                        <td>
                                            0964418495
                                        </td>
                                        <td>
                                            NULTI
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            0107162433
                                        </td>
                                        <td>
                                            ADAMARIS
                                        </td>
                                        <td>
                                            LUCERO
                                        </td>
                                        <td>
                                            adamarisvale11@gmail.com
                                        </td>
                                        <td>
                                            0968518455
                                        </td>
                                        <td>
                                            NULTI
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            0107162455
                                        </td>
                                        <td>
                                            SCARLETT
                                        </td>
                                        <td>
                                            MARCILLO
                                        </td>
                                        <td>
                                            smarcillo@gmail.com
                                        </td>
                                        <td>
                                            0968518145
                                        </td>
                                        <td>
                                            NULTI
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>