<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de personas</h4>
                        <p class="card-category"> PERSONAS</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        CEDULA
                                    </th>
                                    <th>
                                        NOMBRE
                                    </th>
                                    <th>
                                        APELLIDO
                                    </th>
                                    <th>
                                        EMAIL
                                    </th>
                                    <th>
                                        TELEFONO
                                    </th>
                                    <th>
                                        DIRECCION
                                    </th>
                                    <th>
                                        ACCION
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let persona of personas">
                                        <td>
                                            {{persona.cedula}}
                                        </td>
                                        <td>
                                            {{persona.nombre}}
                                        </td>
                                        <td>
                                            {{persona.apellidos}}
                                        </td>
                                        <td>
                                            {{persona.correo}}
                                        </td>
                                        <td>
                                            {{persona.telefono}}
                                        </td>
                                        <td>
                                            {{persona.direccion}}
                                        </td>
                                        <td>
                                            <button _ngcontent-ffd-c89="" mat-raised-button="" (click)="editar(persona)"
                                                class="mat-focus-indicator btneliminar mat-raised-button mat-button-base"><span
                                                    class="mat-button-wrapper"><i _ngcontent-ffd-c89=""
                                                        class="material-icons">mode_edit</i>
                                                    <div _ngcontent-ffd-c89="" class="ripple-container"></div>
                                                </span><span matripple=""
                                                    class="mat-ripple mat-button-ripple"></span><span
                                                    class="mat-button-focus-overlay"></span></button>
                                        </td>
                                        <td>
                                            <button _ngcontent-slk-c89="" mat-raised-button="" (click)="prueba('eliminar')"
                                                class="mat-focus-indicator btneliminar mat-raised-button mat-button-base"><span
                                                    class="mat-button-wrapper"><i _ngcontent-slk-c89=""
                                                        class="material-icons">delete</i>
                                                    <div _ngcontent-slk-c89="" class="ripple-container"></div>
                                                </span><span matripple=""
                                                    class="mat-ripple mat-button-ripple"></span><span
                                                    class="mat-button-focus-overlay"></span></button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="container">

                        <div class="pagination p11">
                            <ul>
                                <button (click)="previous()">
                                    < </button>

                                        <button (click)="next()"> > </button>
                            </ul>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>