<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">INGRESO DE MASCOTAS</h4>
                      <p class="card-category">Complete</p>
                  </div>

                  
                  <form>
                  <div class="card-body">
                    <div class="col-md-4">
                      <div class="card card-profile">
                    <img class="img" src="../assets/img/perrito.jpeg"  />
                      </div></div>
  <div class="form-row">
   
    <div class="form-group col-md-6">
    
      <input type="email" class="form-control" id="inputEmail4" placeholder="NOMBRE:">
      <br>
    </div>
    <div class="form-group col-md-6">
    
      <input type="password" class="form-control" id="inputPassword4" placeholder="RAZA:">
      <br>
    </div>
    <div class="form-group col-md-6">
    
      <input type="email" class="form-control" id="inputEmail4" placeholder="NOMBRE:">
    </div>
    <div class="form-group col-md-6">
    
      <input type="password" class="form-control" id="inputPassword4" placeholder="RAZA:">
    </div>
  </div>
 <br>
                  
  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputState">Especie</label>
    <select id="inputState" class="form-control">
      <option selected>Seleccione...</option>
      <option>...</option>
    </select>
  </div>
    <div class="form-group col-md-4">
      <label for="inputState">Color</label>
      <select id="inputState" class="form-control">
        <option selected>seleccione...</option>
        <option>...</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="inputState">Sexo</label>
      <select id="inputState" class="form-control">
        <option selected>Seleccione...</option>
        <option>...</option>
      </select>
    

  </div>
  
  <button mat-raised-button type="submit" routerLink="/loco"class="btn btn-danger pull-right">Cancelar</button>
  <button mat-raised-button type="submit" routerLink="/loco" class="btn btn-danger pull-left">Siguiente</button>
  </div>
                  </div></form>
  
                  


<!---

          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>-->
              
</div>
