<div class="container-fluid">
  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
           
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">INGRESO DE MASCOTAS</h4>
                        <p class="card-category">Registro</p>
                    </div>


<div class="container">   
  <div class="card-group">

    <div class= "col-md-5 image-fluid" >
     
      <div class="card-body">
        <img class="card-img-top" src="../assets/img/perrito.jpeg" alt="Card image cap">
        <div class="mb-5">
          <label for="formFileSm" class="form-label"  class="control-label col-sm-4 d-flex justify-content-center align-items-center">Subir foto</label>
          <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>
      </div>
    </div>          

    <div class="card text-center border-info">
      <div class="card-body"><form>
        <div class="form-row">
          <div class="form-group col-md-6">
          
            <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre">
          </div>
          <div class="form-group col-md-6">
       
            <input type="text" class="form-control" id="inputPassword4" placeholder="Especie">
          </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="inputEmail4" placeholder="Peso">
         </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <select class="custom-select custom-select-sm" id="gender2">
              <option selected>Sexo</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
            </select> 
            </div>
        
        
          <div class="form-group col-md-3">
        
            <select id="inputState" class="custom-select custom-select-sm">
              <option selected>Color</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select id="inputState" class="custom-select custom-select-sm">

            <option selected>Raza</option>
            <option>...</option>
          </select>
          </div>
          <div class="form-group col-md-3">
            <select id="inputState" class="custom-select custom-select-sm">

            <option selected>Tamaño</option>
            <option>...</option>
          </select>
          </div>

        
        <div class="form-group col-md-8">
          <label for="exampleFormControlTextarea1">Observaciones</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        </div>
        <br>
        <button mat-raised-button type="submit" routerLink="/menu" class="btn btn-danger pull-left">Cancelar</button>
                        
  <button mat-raised-button type="submit" routerLink="/fichaClinica"class="btn btn-danger pull-right">Siguiente</button>
  
      </form>
      </div>
    </div>  
  </div>
</div>  
