<div class="main-content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header card-header-danger">
				<h3 class="card-title">Notificaciones</h3>
			</div>
			<div class="card-body">
				<div class="row">
						<mat-tab-group color="warn" (selectedIndexChange)="onChangeTab(tabs[$event])">
							<mat-tab *ngFor="let tab of tabs" [label]="tab">
								<div  *ngIf="!emptyContent;else content" class="col-md-12 mt-4" >
									<alarm-list [events]="events" [status]="status"></alarm-list>
								</div>
								<ng-template #content class="col-md-12">
									<h3>
										<p class="mt-3 text-center">
											No tienes notificaciones.
										</p>
									</h3>
								</ng-template>	
							</mat-tab>
						</mat-tab-group>
						<mat-paginator [hidden]="emptyContent" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="paginate($event)"
							showFirstLastButtons aria-label="Select page">
						</mat-paginator> 
				</div>
			</div>
		</div>
	</div>
</div>

<!-- loader -->
<!-- <div class="col-md-12" *ngIf="loading;else loaded;">
						<div class="container">
							<div class="wrapper">
								<div class="inner">
									<mat-spinner color="warn"></mat-spinner>
								</div>
							</div>
						</div>
					</div> -->